//colors
$color-white: #FFF;
$color-white-dark: #F6EFEF;
$color-black: #111111;
$color-black-dark: #000;
$color-black-light: rgb(163, 163, 163);
$color-gray-light: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-dark: #707070;
$color-gray-dark-2: #999;
$color-blue-light: #3ED0FE;
$color-blue-dark: #5643fa;
$color-red-dark: rgb(153, 0, 23);
$color-red: #93250C;
$color-red-light: rgb(214, 77, 97);
$color-pink-dark: rgb(161, 85, 97);
$color-pink-light: rgb(223, 104, 122);
$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;
$color-green: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;

//font
$font-default: 1.6rem;

