.btn {
    transition: .2s all;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid $color-blue-light;
    width: 90%;
    font-weight: 700;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    background-color: transparent;
    color: $color-blue-light;
    display: inline-block;
    text-decoration: none;
    
    &:hover {
        background-color: $color-blue-light;
        padding: 1rem 1.5rem;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black-dark, .15);
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black-dark, .15);
        transform: translateY(0);
    }

    &-red {
        width: 45%;
        color: $color-white;
        background-color: $color-red;
        font-size: 1.2rem;
        border-color: transparent;
        &:hover {
            background-color: transparent;
            padding: 1rem 1.5rem;
            color: $color-red;
            box-shadow: 0 1rem 2rem rgba($color-black-dark, .15);
            transform: translateY(-2px);
            border-color: $color-red;
        }
        &:active {
            box-shadow: 0 .5rem 1rem rgba($color-black-dark, .15);
            transform: translateY(0);
        }
    }

    &-white {
        width: 90%;
        color: $color-black;
        background-color: $color-white;
        font-size: 1.2rem;
        border-color: transparent;
        &:hover {
            background-color: transparent;
            padding: 1rem 1.5rem;
            color: $color-black;
            box-shadow: 0 1rem 2rem rgba($color-black-dark, .15);
            transform: translateY(-2px);
            border-color: $color-black;
        }
        &:active {
            box-shadow: 0 .5rem 1rem rgba($color-black-dark, .15);
            transform: translateY(0);
        }
    }

    &-clear {
        width: 90%;
        color: $color-white;
        background-color: transparent;
        font-size: 1.2rem;
        border-color: $color-white;
        &:hover {
            background-color: $color-black;
            padding: 1rem 1.5rem;
            color: $color-white;
            box-shadow: 0 1rem 2rem rgba($color-black-dark, .15);
            transform: translateY(-2px);
            border-color: transparent;
        }
        &:active {
            box-shadow: 0 .5rem 1rem rgba($color-black-dark, .15);
            transform: translateY(0);
        }
    }
}