.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: 1.6rem;
    transform: skewX(-12deg);

    @include respond(tablet-reg) {
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
    }

    @include respond(phone) {
        transform: skewX(0);
    }

    &-shape {
        position: relative;
        width: 15rem;
        height: 15rem;
        float: left;
        shape-outside: circle(50% at 50% 50%); //shapes the content around the specified shape
        -webkit-shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);// creates the specified shape
        transform: translateX(-3rem) skewX(12deg);

        @include respond(phone) {
            transform: translateX(-3rem) skewX(0);
        }
    }

    &-img {
       height: 100%; 
       transform: translateX(-3.5rem) scale(1.2);
       backface-visibility: hidden;
       transition: all .5s;
    }

    &-text {
        transform: skewX(12deg);

        @include respond(phone) {
            transform: skewX(0);
        }
    }

    &-caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.7rem;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden; //fixes animation stuttering

    }

    &:hover &-caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &-img {
        transform: translateX(-3.5rem) scale(1);
        filter: blur(3px) brightness(90%);
    }
}